@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
 
}

html {
  cursor: url('../Assets/pointer.svg'), auto;
}

.navbar {
  background-color: #4c88f0;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 12px 6px;  
}

.navbar div {
  display: flex;
  align-items: center;
}

.navbar span a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  padding-right: 3px;
}

.navbar_mic_icon,
.navbar_config_icon {
  height: 1rem;
  width: auto;
}
